.navigation {
  position: fixed;
  width: 20rem;
  right: -20rem;
  height: 100%;
  background-color: #a5b9b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}

.navigation-list {
  list-style: none;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  color: #464246;
  font-size: 2rem;
  transition: all 0.4s;
}

.navigation-link:hover,
.navigation-link:active {
  color: #f8f8f8;
}

.line {
  height: 0.3rem;
  width: 2rem;
  background-color: #464246;
  border-radius: 0.1rem;
}

.line-1,
.line-3 {
  transition: all 0.4s;
}

.line:not(:last-child) {
  margin-bottom: 0.4rem;
}

.checkbox:checked ~ .header .line-1 {
  transform: rotate(-405deg) translate(-0.3rem, 0.7rem);
  width: 2.8rem;
}

.checkbox:checked ~ .header .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .header .line-3 {
  transform: rotate(405deg) translate(-0.4rem, -0.6rem);
  width: 2.8rem;
}

.checkbox:checked ~ .navigation {
  right: 0;
  z-index: 5;
}
