.post-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "heading"
    "content"
    "aside"
    "about"
    "related";
}

.post-heading {
  grid-area: heading;
  text-align: center;
}

.post-img {
  display: block;
  width: 100%;
}

.post-date {
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f8f8f8;
  background-color: #464246;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  transform: translateY(-50%);
  margin: 0 auto;
}

.post-heading-title {
  font-size: 6rem;
  font-weight: 400;
}

.post-heading-title:after {
  display: block;
  height: 0.2rem;
  background-color: #a5b9b9;
  content: " ";
  width: 10rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.post-heading-category {
  font-size: 2rem;
  font-weight: 300;
  color: #a5b9b9;
  padding: 2rem 0;
}

.post-content {
  grid-area: content;
  width: 100%;
}

.post-content p {
  margin: 0 5rem 5rem 0;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
}

.post-content-subtitle {
  font-size: 3rem;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 2rem;
}

.post-aside {
  grid-area: aside;
}

.post-aside h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.subscribe-form input {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  outline: none;
  border: 0.1rem solid #464246;
  color: #cabcb0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
}

.subscribe-form button {
  display: block;
  padding: 1rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #464246;
  border: none;
  text-transform: uppercase;
  color: #f8f8f8;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.subscribe-form button:hover {
  background-color: #605b60;
}

.small-card {
  background-color: #fff;
  margin-bottom: 4rem;
}

.post-about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.1rem solid #464246;
  border-bottom: 0.1rem solid #464246;
  padding: 3rem 0;
  font-size: 1.6rem;
}

.post-about-img {
  width: 15rem;
  overflow: hidden;
  margin-bottom: 2rem;
  /* margin-right: 5rem; */
}

.post-about-img img {
  border-radius: 50%;
  width: 100%;
}

.post-about-content {
  width: 60%;
}

.post-about-author {
  font-family: "Amatic SC", cursive;
  color: #a5b9b9;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.post-about-content ul {
  list-style: none;
  margin-bottom: 2rem;
}

.post-about-content ul:not(:last-child) {
  margin-right: 0.5rem;
}

.post-about-content p {
  margin-bottom: 2rem;
}

.post-about-social {
  display: flex;
  font-size: 2.5rem;
  color: #464246;
}

.post-about-social li {
  margin-right: 2rem;
}

.post-about-social i {
  transition: color 0.2s;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.post-related {
  grid-area: related;
  text-align: center;
  padding-bottom: 3rem;
}

.post-related h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (min-width: 70rem) {
  .post-container {
    grid-template-columns: 4fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "heading heading"
      "content aside"
      "about about"
      "related related";
  }
}

@media screen and (min-width: 40rem) {
  .post-about {
    flex-direction: row;
  }
}
