.footer {
  grid-area: footer;
  padding: 2rem 0;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: var(--color-text-light-2);
  font-size: 1.6rem;
  margin: 0 1rem;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-text-dark);
}
