.card {
  flex: 1 0 calc(25% - 2rem);
  margin: 0 1rem;
  background-color: var(-1);
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.3s;
}

.card:first-child {
  margin: 0 1rem 0 0;
}

.card:last-child {
  margin: 0 0 0 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0.6rem 0.6rem 1.6rem rgba(0, 0, 0, 0.4);
}

.card__img {
  display: block;
  width: 100%;
}

.card__date {
  width: 6rem;
  height: 6rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-text-light-1);
  background-color: var(--color-background-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  transform: translateY(-50%);
  margin: 0 auto;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.card__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card__text {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .card {
    flex: 0 1 calc(50% - 2rem);
    margin: 1rem 0;
    /* margin: 3rem 0; */
  }

  .card:first-child {
    margin: 1rem 0;
  }

  .card:last-child {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .cards {
    flex-direction: column;
  }
}
